body{
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #F3CD06;
    width: 100%;
    height: 8rem;
    margin: 0 auto;
}

/* .hamburguesa-btn{
    display: none;
}
 */
header{
    background-color: white;
    width: 100%;
    height: 12rem;
    margin: 0 auto;
    /* border: solid; */
}

main{
    /* ackground-color: green; */
    background-image: url(img/fondo_principal.jpeg);
    background-size: cover;
    height: 28rem;
    width: 100%;
    margin: 0 auto;
}

.contacto {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    height: 28rem;
    border: 2px solid rgb(17, 18, 17);    
}

.foto_contacto {
    border: 2px solid rgb(27, 72, 171);
    display: flex;
    align-items: center;
}

.foto_contacto img {
    scale: 75%;
    border-radius: 10px;
}

.form_contacto {
    padding-top: 5rem;    
    border: 2px solid rgb(221, 18, 204);
}

footer{
    background-color: brown;
    width: 100%;
    height: 8rem;
    margin: 0 auto;
}

/* Botoneras */

.botonHome{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid ; */
}

.botonHome img{
    display: flex;
    width: 8rem;
    padding: 2rem;
    /* border: solid; */
}

.logoNav{
    display:flex;
    width: 18rem;
    padding: 2rem;
   /*  border: solid;    */  
}

.barraNavegacion{
    width: 40rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
   /*  border: solid; */
}

button{
    background-color: #5D7CCA;
    border-radius: 0.5rem;
    height: 2.5rem;
    width: 6rem;
    border: none;
}

button:hover{
    background-color: aquamarine;
    transition: all 500ms;
}

footer{
    /* border: solid yellow; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F3CD06; 
}

.redesSociales{
    width: 100%;
    height: 2rem;
    /* border: solid; */
    display: flex;
    justify-content:space-around;
    margin: 0 1rem 0 1rem   
}

.redesSociales div a i{
    width: 2rem;
    height: 2rem;
    color: black;
    font-size:2.5rem;
}

.siguenos{
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid red; */
}

.direccion{
    width: 100%;
    /* border: solid ; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    font-style:italic;
    font-weight:lighter;
}

.directivos{
    /* border: solid blue; */
    align-items: start;
    margin-top: 0;
    padding-top: 0;
}

.iconosFooter{
    display: flex;
    /* border: solid; */
    width: 30rem;
    justify-content: space-around;
    align-items: center;
    
}
/* 
.hamburguesa, ul, input, label, li {
    display: none;
}
 */
.carrusel div{
    display: flex;
    width: 150rem;
    animation: carrusel 9s linear infinite;
    white-space: nowrap;
    height: 12rem
}

.carrusel{    
    background-color: none;
}

.carrusel span{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.carrusel img{
    border-radius: 0.2rem;
}

.botonIdiomas{
    display: flex;
    justify-content: end;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}


@keyframes carrusel {
    0% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(-50%);
    }
}
























































































































































































































































































































































































































































































/* ****************MEDIA QUERY******************* */

@media screen and (max-width: 1300px) {

    .directivos{
        display: none;
    }


    .logoNav{
        display: none;
    }

   /*  .hamburguesa, ul, input, label, li {
        display: none;
    } */
   
}







@media screen and (max-width: 900px) {

    .direccion{
        display: none;
    }

    .barraNavegacion{
        display: none;
    }

   /*  .hamburguesa{
        width: 4rem;
        height: 4rem;
        display: flex;
       /*  border: solid; 
        justify-content: center;
        padding-top: 2rem;}
        

    ul{
        display: none;
      }
      
    input:checked  ~ ul{
        display: block;
        border-top: 4rem;
        /* border: solid; 
        
      }
    input {
        display: none;
       }

    label {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
      }

      li {
        display: block;
        background: lightgrey;
        margin: 0;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid grey;
      }

      */
        

}

























































































































































/**  CATEGORIAS DAVID**/

/* CATEGORIA FORMATIVA */
.contenedor__categorias {
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    /* background-image: url(img/fondo_principal.jpeg); */
}

.categorias__grid {
    display: grid;  
    grid-template-columns: repeat(4, 20fr);
    grid-template-rows: 80px 250px;
    column-gap: 2rem;
    row-gap: 1rem;
}

.categorias__grid--texto {
    text-align: center;
    background-color: #F3CD06;
    padding-top: 2rem;
    text-transform: uppercase;
}

.categorias__grid--imagen img{
    width: 15rem;
    height: 15rem;
    align-items: center;
    justify-content: center;
    /* background-image: url(img/fondo_principal.jpeg); */
}


/* CATEGORIA LIGA */


.categorias__grid--liga-texto {
    display: grid;  
    grid-template-columns: repeat(2, 20fr);
    column-gap: 2rem;
    row-gap: 1rem;
}

.categorias__grid--texto-liga{
    text-align: center;
    background-color: #F3CD06;
    padding-top: 2rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
}


.categorias__grid--liga-imagen{
    display: grid;  
    grid-template-columns: repeat(4, 20fr);
    column-gap: 2rem;
    row-gap: 1rem;
}

.categorias__grid--imagen-liga{
    width: 15rem;
    height: 15rem;/* 
    align-items: center;
    justify-content: center; */
}





































































































































































































































































































































































































































































































































































































































.sobre_nosotros {
    height: 28rem;
    /* border: 2px solid gainsboro; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
}

.mapa {
    /* border: 2px solid rgb(141, 25, 25); */
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.15);
}

.direccion2 {
    /* border: 2px solid rgb(29, 213, 22); */
    width: 20%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.15);
}

.directiva {
    /* border: 2px solid rgb(57, 59, 212); */
    width: 20%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.15);
    }
















